.body-container {
    width: 450px;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.col1 {
    flex: 1;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
}

.col2 {
    flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
}

.col3 {
    flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
}

.col4 {
    flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
}

.col5 {
    flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
}

.col6 {
    flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
}

.col7 {
    flex: 7;
    -webkit-flex: 7;
    -ms-flex: 7;
}

.col8 {
    flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
}

.col9 {
    flex: 9;
    -webkit-flex: 9;
    -ms-flex: 9;
}

.col10 {
    flex: 10;
    -webkit-flex: 10;
    -ms-flex: 10;
}

.col11 {
    flex: 11;
    -webkit-flex: 11;
    -ms-flex: 11;
}

.col12 {
    flex: 12;
    -webkit-flex: 12;
    -ms-flex: 12;
}

.flex-container>div {
    margin: 6px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    height: 40px;
}

input[type=text]:focus {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.error-text {
    margin:auto;
    text-align: center;
    color: rgba(255, 0, 0, 0.7);
}

.margin-top20 {
    margin-top: 20px;
}

